.statistics {
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(136, 136, 136);
}

.statistics h1{
    font-size: 22px;
    font-weight: 800;
}

.statistics p{
    font-size: 18px;
    font-weight: 400;
}